.chatbot {
  position: fixed;
  right: 20px;
  bottom: 20px;
  background: white;
  color: black;
  padding: 0.75rem;
  border-radius: 50%;
  cursor: pointer;
  border: 10px solid gray;
}

.chatbox {
  background-color: gray;
  border: 1px solid #aeaeae;
  height: 27.5rem;
  width: 25rem;
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
}

@media (max-width: 576px) {
  .chatbox {
    width: 100vw;
    height: 100vh;
  }
}

.closeBtn {
  cursor: pointer;
  background-color: white;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chatBotName {
  font-size: 1.25rem;
}

.chat {
  background: black;
  color: white;
  width: 75%;
  margin-top: 0.5rem;
  padding: 0.25rem;
  border-radius: 0.25rem;
  font-family: "Montserrat", sans-serif;
}

.mrAuto {
  margin-right: auto;
  margin-left: 0.25rem;
}

.mlAuto {
  margin-left: auto;
  margin-right: 0.25rem;
}

.small {
  height: 10%;
}

.large {
  height: 80%;
}

.chatMsg {
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
}

.messages {
  display: flex;
  flex-direction: column-reverse;
}

.msgInputArea {
  background: white;
  padding: 0.5rem;
}

.msgForm {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input {
  width: 85%;
  outline: none;
  border: none;
}

.sendBtn {
  border: none;
  background-color: transparent;
}

.sendBtn:focus,
.sendBtn:active {
  border: none;
  background-color: transparent;
  outline: none;
}

.greeting {
  background-color: white;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  color: black;
  width: 85%;
  text-align: center;
  border-radius: 0.5rem;
  margin: 0 auto;
  font-size: 1.25rem;
  margin-top: 1rem;
  font-family: "Dancing Script", sans-serif;
}
