.mainContainer {
  background-color: white;
  padding: 3.5rem 0.5rem;
  color: black;
}

.heading {
  font-size: 5rem;
}

.member {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  font-family: "Monstserrat", sans-serif;
}

.memberContainer {
  margin-bottom: 2.25rem;
}

.memberImage {
  border-radius: 50% !important;
  vertical-align: middle !important;
  border: 1px solid ghostwhite !important;
}

.name {
  font-family: cursive;
  font-weight: bold;
}

.links {
  color: black;
}

@media (max-width: 768px) {
  .heading {
    font-size: 4rem;
  }
}
