.mainContainer {
  padding: 4rem 0.5rem;
  background-color: rgb(56, 56, 56);
}

.heading {
  margin-bottom: 2rem;
  font-size: 5rem;
}

.description {
  font-size: 1.25rem;
  font-family: "Montserrat", sans-serif;
  width: 75%;
}
.space{
    height: 0.5rem;
    width: 100%;
}

@media(max-width:768px){
    .description{
        max-width: 60%;
    }
}