.myimage {
  /*   transform:translateX(-15%) */
  position: relative;
  right: 50px;
  border-radius: 5px;
  transition: all 0.25s ease-in;
}

.myimage:hover {
  transform: scale(1.1);
  border-radius: 50%;
}

@media (max-width: 768px) {
  .myimage {
    /*   transform:translateX(-15%) */
    position: relative;
    bottom: 50px;
    left: 0;
    transition: all 0.25s ease-in;
  }
}

.category {
  font-size: 1rem;
  cursor: pointer;
}

.category:hover {
  color: #17a2b8;
  background-color: white;
}
