.myimage {
  position: relative;
  right: 50px;
  min-height: 125px;
  min-width: 125px;
  border-radius: 5px;
  transition: all 0.25s ease-in;
}

.myimage:hover {
  transform: scale(1.1);
  border-radius: 50%;
}

@media (max-width: 768px) {
  .myimage {
    position: relative;
    bottom: 50px;
    min-width: auto;
    min-height: auto;
    left: 0;
    transition: all 0.25s ease-in;
  }
}

.category {
  font-size: 1rem;
  margin-bottom: 0.25rem;
  cursor: pointer;
}

.category:hover {
  color: #17a2b8 !important;
  background-color: white !important;
}

.headLink {
  color: black;
}

.headLink:hover {
  color: rgba(0, 0, 0, 0.75);
}

.link:hover {
  text-decoration: none;
}
