.link {
  text-decoration: none;
  color: inherit;
}

.link:hover {
  text-decoration: none;
}

.avatar {
  border-radius: 50% !important;
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
}

.App nav i {
  margin: auto 0 auto 10px;
  padding: 15px;
  transition: transform 1s;
}
.App nav i:hover {
  cursor: pointer;
  background-color: #d3d3d3;
  border-radius: 26px;
  transform: rotate(360deg);
}
.App nav h3 {
  margin: auto;
}
.App aside {
  overflow-x: hidden;
  width: 0;
  position: fixed;
  top: 70px;
  z-index: 2;
  left: 0;
  bottom: 0;
  background-color: #2d2d2d;
  transition: width 0.5s ease-in-out;
}

.App aside ul {
  list-style: none;
  padding: 0;
}
.App aside ul a {
  display: flex;
  align-items: center;
  color: #d3d3d3;
  padding: 12px 0 12px 22px;
  font-weight: 400;
  transition: transform 1s;
  cursor: pointer;
}
.App aside ul a i {
  margin-right: 1em;
}
.App aside ul a:hover {
  transform: translateX(5px);
  color: #0288d1 !important;
  border-left: 5px solid #0288d1;
  text-decoration: none;
}
.App .drawerMin {
  width: 70px;
}

@media (min-width: 992px) {
  .App .drawerMin {
    width: 80px;
  }
}

.App .drawerOpen {
  width: 200px;
}
.App main {
  top: 80px;
  padding: 1em;
  margin-left: 0;
  bottom: 0;
  transition: margin-left 0.5s ease-in-out;
}

.changedFont {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
}

.textChanged {
  font-size: 2rem;
  color: lightslategray;
}

@media (max-width: 992px) {
  .searchIcon {
    margin-bottom: 10px;
  }
}
