.mainImage,
.sideImage {
  width: 100%;
}

.sideImage {
  height: calc(60vw / 4);
}

@media (max-width: 768px) {
  .sideImage {
    height: calc(56vw / 2);
  }
}
@media (max-width: 576px) {
  .sideImage {
    height: auto;
  }
}
