.mainImage,
.sideImage {
  width: 100%;
}

.sideImage {
  height: calc(60vw / 4);
}

@media (max-width: 768px) {
  .sideImage {
    height: calc(56vw / 2);
  }
}
@media (max-width: 576px) {
  .sideImage {
    height: auto;
  }
}

.headLink {
  display: inline-block;
  /*   border-radius: 5px; */
  text-decoration: none;
  color: black;
  /* font-size: 2rem; */
  /* Set up the hover */
  /* If you aren't using autoprefix, remember to prefix the gradient for other browsers */
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75));
  background-size: 0 5px, auto;
  background-repeat: no-repeat;
  background-position: center bottom;
  transition: all 0.2s ease-out;
}

.headLink:hover {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.75);
  background-size: 100% 1px, auto;
}
