.errors {
	font-size: 0.8rem;
}

/* .container {
	padding: 0.5rem 1rem;
	border-radius: 5px;
	transition: all 0.2s linear;
}

.container:hover {
	box-shadow: 0px 0px 20px 1px #eeeeee;
	border: none;
} */

.formLabelGroup > input {
	--input-padding-x: 1.5rem;
	--input-padding-y: 0.75rem;
}

/*  */

.login,
.image {
	min-height: 100vh;
}

.bgImage {
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)),
		url('./images/signup.jpg') center/cover no-repeat;
}

.bgImagelogin {
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)),
		url('https://images.unsplash.com/photo-1535957998253-26ae1ef29506?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60')
			center/cover no-repeat;
}

.loginHeading {
	font-weight: 300;
}

.btnLogin {
	font-size: 0.9rem;
	letter-spacing: 0.05rem;
	padding: 0.75rem 1rem;
	border-radius: 2rem;
}

.formLabelGroup {
	position: relative;
	margin-bottom: 1rem;
}

.formLabelGroup > input,
.formLabelGroup > label {
	padding: var(--input-padding-y) var(--input-padding-x);
	height: auto;
	border-radius: 2rem;
}

.formLabelGroup > label {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	margin-bottom: 0;
	/* Override default `<label>` margin */
	line-height: 1.5;
	color: #495057;
	cursor: text;
	/* Match the input under the label */
	border: 1px solid transparent;
	border-radius: 0.25rem;
	transition: all 0.1s ease-in-out;
}

.formLabelGroup input::-webkit-input-placeholder {
	color: transparent;
}

.formLabelGroup input:-ms-input-placeholder {
	color: transparent;
}

.formLabelGroup input::-ms-input-placeholder {
	color: transparent;
}

.formLabelGroup input::-moz-placeholder {
	color: transparent;
}

.formLabelGroup input::placeholder {
	color: transparent;
}

.formLabelGroup input:not(:placeholder-shown) {
	padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
	padding-bottom: calc(var(--input-padding-y) / 3);
}

.formLabelGroup input:not(:placeholder-shown) ~ label {
	padding-top: calc(var(--input-padding-y) / 3);
	padding-bottom: calc(var(--input-padding-y) / 3);
	font-size: 12px;
	color: #777;
}

/* Fallback for Edge
-------------------------------------------------- */

@supports (-ms-ime-align: auto) {
	.formLabelGroup > label {
		display: none;
	}
	.formLabelGroup input::-ms-input-placeholder {
		color: #777;
	}
}

/* Fallback for IE
-------------------------------------------------- */

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.formLabelGroup > label {
		display: none;
	}
	.formLabelGroup input:-ms-input-placeholder {
		color: #777;
	}
}
