.loginHeading {
  font-weight: 300;
}

.btnLogin {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
  border-radius: 2rem;
}

.formLabelGroup {
  position: relative;
  margin-bottom: 1rem;
}

.formLabelGroup > input,
.formLabelGroup > label {
  padding: var(--input-padding-y) var(--input-padding-x);
  height: auto;
  border-radius: 2rem;
}

.formLabelGroup > label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  cursor: text;
  /* Match the input under the label */
  border: 1px solid transparent;
  border-radius: 0.25rem;
  transition: all 0.1s ease-in-out;
}

.formLabelGroup input::-webkit-input-placeholder {
  color: transparent;
}

.formLabelGroup input:-ms-input-placeholder {
  color: transparent;
}

.formLabelGroup input::-ms-input-placeholder {
  color: transparent;
}

.formLabelGroup input::-moz-placeholder {
  color: transparent;
}

.formLabelGroup input::placeholder {
  color: transparent;
}

.formLabelGroup input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.formLabelGroup input:not(:placeholder-shown) ~ label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}

/* Fallback for Edge
-------------------------------------------------- */

@supports (-ms-ime-align: auto) {
  .formLabelGroup > label {
    display: none;
  }
  .formLabelGroup input::-ms-input-placeholder {
    color: #777;
  }
}

/* Fallback for IE
-------------------------------------------------- */

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .formLabelGroup > label {
    display: none;
  }
  .formLabelGroup input:-ms-input-placeholder {
    color: #777;
  }
}

.imageUpload {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.imageUploadPreview {
  width: 13rem;
  height: 13rem;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 1rem;
}

.imageUploadPreview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.customBtn {
	width: 130px;
	height: 40px;
	color: #fff;
	border-radius: 5px;
	padding: 10px 25px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-weight: 500;
	background: transparent;
	cursor: pointer;
	transition: all 0.3s ease;
	position: relative;
	display: inline-block;
	box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1),
		4px 4px 5px 0px rgba(0, 0, 0, 0.1);
	outline: none;
}

.btn1 {
	border: none;
	background: linear-gradient(0deg, #000000 0%, #414141 100%);
	color: #fff;
	overflow: hidden;
}
.btn1:hover {
	text-decoration: none;
	color: #fff;
}
.btn1:before {
	position: absolute;
	content: '';
	display: inline-block;
	top: -180px;
	left: 0;
	width: 30px;
	height: 100%;
	background-color: #fff;
	animation: shinyBtn1 3s ease-in-out infinite;
}
.btn1:hover {
	opacity: 0.7;
}
.btn1:active {
	box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.3), -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
		inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2), inset 4px 4px 6px 0 rgba(0, 0, 0, 0.2);
}

@keyframes shinyBtn1 {
	0% {
		-webkit-transform: scale(0) rotate(45deg);
		opacity: 0;
	}
	80% {
		-webkit-transform: scale(0) rotate(45deg);
		opacity: 0.5;
	}
	81% {
		-webkit-transform: scale(4) rotate(45deg);
		opacity: 1;
	}
	100% {
		-webkit-transform: scale(50) rotate(45deg);
		opacity: 0;
	}
}